<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Schedule | Chess Tournament</title>

		<link rel="stylesheet" href="../materialAdmin.min.css">
		<script src="../material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

            <header class="mdl-layout__header">

                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    <a href="/admin/teams" class="mdl-layout__tab">Teams</a>
					<a href="/admin/scores" class="mdl-layout__tab">Scores</a>
					<a href="/admin/schedule" class="mdl-layout__tab is-active">Schedule</a>
                    <a href="/admin/account" class="mdl-layout__tab">Account</a>
                    <a href="/admin/logout" class="mdl-layout__tab">Logout</a>
                </div>
            </header>

			<main class="mdl-layout__content">
				<section class="mdl-layout__tab-panel is-active" id="ScheduleAdminTab">
					<% if (message) { %>
						<h2><%= message %></h2>
					<% } %>
					<%for (var week in weeks) { %>
						<h2>Week <%= week %></h2>
						<% for (var time in weeks[week]) { %>
							<h3 style="text-indent: 3em;">Time #<%= time %></h3>
							<% for (var game in weeks[week][time]) { %>
								<% if (weeks[week][time][game] == null) continue; %>
								<span><form id="<%= week %><%= time %><%= game %>" method="post" action="/admin/schedule"><input type="hidden" name="id" value="<%= week %><%= time %><%= game %>"><input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Reschedule" style="display: inline;" form="<%= week %><%= time %><%= game %>">   <%= teams[weeks[week][time][game].Black] ? teams[weeks[week][time][game].Black].Name : 'BYE' %> vs <%= teams[weeks[week][time][game].White] ? teams[weeks[week][time][game].White].Name : 'BYE' %> </form><br><br></span>
							<% } %>
							<hr>
						<% } %>
					<% } %>
				</section>
				<br>-->
			</main>
        </div>
    </body>
</html>
