<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Scores | Chess Tournament</title>

		<link rel="stylesheet" href="../materialAdmin.min.css">
		<script src="../material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

            <header class="mdl-layout__header">

                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    <a href="/admin/teams" class="mdl-layout__tab">Teams</a>
					<a href="/admin/scores" class="mdl-layout__tab is-active">Scores</a>
					<a href="/admin/schedule" class="mdl-layout__tab">Schedule</a>
                    <a href="/admin/account" class="mdl-layout__tab">Account</a>
                    <a href="/admin/logout" class="mdl-layout__tab">Logout</a>
                </div>
            </header>

			<main class="mdl-layout__content">
				<section class="mdl-layout__tab-panel is-active" id="ScoresAdminTab">
				</section>
				<form action="/admin/scores" method="post" id="all">
					<% if (message) { %>
						<h2><%= message %></h2>
					<% } %>
					<%for (var week in weeks) { %>
						<h2>Week <%= week %></h2>
						<% for (var time in weeks[week]) { %>
							<h3 style="text-indent: 3em;">Time #<%= time %></h3>
							<% for (var game in weeks[week][time]) { %>
								<% if (weeks[week][time][game] == null) continue; %>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="<%= week.toString() + time.toString() + game.toString()%>1">
									<input type="radio" id="<%= week.toString() + time.toString() + game.toString()%>1" class="mdl-radio__button" name="<%= week.toString() + time.toString() + game.toString()%>" value="1">
									<span class="mdl-radio__label"><%= teams[weeks[week][time][game].Black].Name %></span>
								</label>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="<%= week.toString() + time.toString() + game.toString()%>2">
									<input type="radio" id="<%= week.toString() + time.toString() + game.toString()%>2" class="mdl-radio__button" name="<%= week.toString() + time.toString() + game.toString()%>" value="2">
									<span class="mdl-radio__label"><%= teams[weeks[week][time][game].White].Name %></span>
								</label>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="<%= week.toString() + time.toString() + game.toString()%>3">
									<input type="radio" id="<%= week.toString() + time.toString() + game.toString()%>3" class="mdl-radio__button" name="<%= week.toString() + time.toString() + game.toString()%>" value="3">
									<span class="mdl-radio__label">Draw</span>
								</label>
								</br>
							<% } %>
							<hr>
						<% } %>
						<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Confirm" form="all">
					<% } %>
				</form>
			</main>
        </div>
    </body>
</html>
