<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chess Tournament</title>

		<link rel="stylesheet" href="./material.min.css">
		<script src="./material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">

            <header class="mdl-layout__header">

                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    <a href="/schedule" class="mdl-layout__tab">Schedule</a>
                    <a href="/scores" class="mdl-layout__tab is-active">Scores</a>
                    <a href="/login" class="mdl-layout__tab">Login</a>
                </div>

            </header>

            <main class="mdl-layout__content">
                <section class="mdl-layout__tab-panel is-active" id="ScoresMainTab">
                    <div class="page-content">
						<div id="ScoreMainDiv">
							<!-- These are currently not in order. Not really sure why? -->
							<% for (var team = 0; team < Object.keys(teams).length; team++) { %>
								<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
									<thead>
										<tr>
											<th class="mdl-data-table__cell--non-numeric"><%= teams[team].Name %>: Score <%= teams[team].Score %></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th class="mdl-data-table__cell--non-numeric"><%= teams[team].Record.Wins %>/<%= teams[team].Record.Losses %>/<%= teams[team].Record.Draws %></th>
										</tr>
									</tbody>
								</table>
							<% } %>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </body>
</html>
